/*このページだけに有効なcss*/
body {
	height: 100vh;
}

h1 {
	color: #FF00FF;
	margin-bottom: 0;
}

#progress{
	text-align: right;
}

.center {
	text-align: center;
}

button {
	padding: 8px 15px;
	font-size: 14px;
	cursor: pointer;
	background-color: #3498db;
	color: #fff;
	border: none;
	border-radius: 5px;
}

input {
	width: 200px;
	font-size: 20px;
	padding: 2px;
}

.block {
	margin: 10px 0px;
}